
<!-- <app-FakeContacts ></app-FakeContacts> -->
<div class="header">
    <div class="arriba">
        <div class="arriba-center">
            <h1>Contactos</h1>
        </div>
        <div class="arriba-right">
            <input class= "submit" [routerLink] = "['/login']" type="submit" value="Cerrar Sesion">
        </div>
    </div>
    <input class= "buscar" type="search" name = "Buscar" placeholder= "Buscar">
</div>
<body>
    <main id="contactos">
        <app-contact-card
            *ngFor="let contact of contactsData"
            [contact]="contact"
            >
        </app-contact-card>
    </main>
</body>
<footer>
    
</footer>

