#container{
    display: flex;
    flex-grow: 1;
    background-color: #c1c6ff;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.container:hover{
    background-color:#7C88FF ;
    color: #ECF4F7;
    transition: 300ms; 
}

h2{
    margin-left: 10px;
}

p{
    margin: auto;
    text-indent: 10px;
}